article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 1.8px;
	color: #222;
	font-family: 'Montserrat', sans-serif;
}

//animation loop
@keyframes slideDown {
	0% {
		transform: translateY(-150px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-100px);
	}
}

@mixin animationIn {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation: slideDown .6s both ease;
      animation-delay: #{$i * .15}s;
    }
  }
}

@mixin animationOut {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation: slideUp .4s both ease;
      animation-delay: #{$i * .15}s;
    }
  }
}

.slide {

	li {
		@include animationOut;
	}

}



a {
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 3px;
}

nav {
	padding: 50px 0;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	li {
		@include animationIn;
	}
	a {
		position: relative;
		&:hover:after{
			opacity: 1;
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}

	}
	a:after {
		content: '';
	    position: absolute;
	    width: calc(100% - 30px);
	    height: 2px;
	    top: 35px;
	    left: 15px;
	    background-color: #fff;
	    opacity: 0;
	    -webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	    transform: scaleX(0);
	    transition: all 0.3s ease-in-out 0s;
	}
}



.nav__link--white {
	border: 2px solid #192725;
	border-radius: 100px;
	transition: all .3s ease;
	&:hover {
		background: white;
		color: #475856;
		border: 2px solid #fff;
		
	}
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul{
	display: flex;
}


.logo {
	width: 80px;
	position: absolute;
	top: 20px;
	left: 50px;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

// header

header {
	background: #1b1b21;
	background: #959684;
	background: #525d56;
	height: 85vh;
	padding: 20px;
	.wrapper {
		display: flex;
		align-items: center;
	}
	img {
		max-height: 85vh;
		position: relative;
		top: 12vh;
	}	
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 60px;
	color: #fff;
	font-weight: lighter;
	margin-left: 150px;
	line-height: 1.5;
	span {
		margin-left: 50px;
	}
}

.about {
	padding: 150px 0;
}


.about {
	width: 60%;
	margin: 0 auto;
}

.publicaties {
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 50px;
	}
}


img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

h2 {
	font-size: 3rem;
	text-align: center;
	margin: 50px 0;
	font-weight: normal;
}

.contact {
	background: #525d56;
}

footer {
	background: #222;
	color: #525d56;
	text-align: center;
}

.activities {
	background: url(../assets/museum.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	.content {
		width: 60%;
		margin: 0 auto;
		background: #fff;
		padding: 50px;
		transition: all 2s ease;
		background:  linear-gradient(to top rgba(255,255,255, .9),rgba(255,255,255, .9) );
		background-size: cover;
	}
}

section {
	padding: 60px 40px;
}

.contact {
	min-height: 30vh;
	padding: 20px 40px;
	.content {
		display: flex;
		justify-content: space-around;
	}
}

.content__left {
	padding-right: 50px;
}

.content__left, .content__right {
	width: 50%;
}



.content-side {
	display: none;
	transform: translateX(100vw);
	transition: all 2s ease;
}

form {

	input {
		width: 49%;
		padding: 10px;
		background: none;
		color: #fff;
		border: none;
		border-bottom: 1px solid #222;
	}
	textarea {
		background: none;
		width: 100%;
		margin-top: 20px;
		border: 1px solid #222;
		color: #222;
	}

	::-webkit-input-placeholder {
		color: #222;
	}
}

.button, input.button {
	background: #fff;
	color: #475856;
	border: 2px solid #475856;
	transition: all .3s ease;
	border-radius: 100px;	
	padding: 10px 20px;
	display: block;
	width: 180px;
	margin: 35px auto;
	&:hover {
		cursor: pointer;
		background: #475856;
		color: #fff;
		box-shadow: 0 22px 55px 0 rgba(0, 0, 0, 0.25), 0 12px 17px 0 rgba(0, 0, 0, 0.15)}
}